%h1.uk-text-center
  ココでどうすか

%h2.uk-text-center
  - t = Time.now
  %p
    = t.strftime("%Y年%m月%d日(#{%w(日 月 火 水 木 金 土)[t.wday]})")
  %p
    = t.strftime("%H時%M分")

.uk-width-9-10.uk-container-center
  %table.uk-table.uk-table-hover.uk-table-striped.uk-table-condensed
    %thead
      %tr
        %th 店名
        %th ジャンル
        %th 定休日
        %th 開店時間
        %th 閉店時間
    %tbody
      %tr
        %td= @meshiya.name
        %td= @meshiya.genre
        %td= @meshiya.dayoff
        %td= @meshiya.open.strftime("%-H:%M")
        %td
          = "翌" if @meshiya.open > @meshiya.close
          = @meshiya.close.strftime("%-H:%M")
